@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.nav_box{
    width: 1920px;
    /* height: 148px; */
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: space-between;
}


.logo{
 margin-top: 37px;
 margin-left: 114px;   
}

.menu{
    width: 292px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    

}

.menu ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: space-between;
    gap: 55px;
}

.menu a {
    text-decoration: none;
    font-weight: 700;
font-size: 20px;
color: white;
}


.title{
    font-family:"Roboto Condensed", sans-serif ;
font-weight: 700;
font-size: 50px;
text-transform: uppercase;
color: white;
padding-top: 50px;
text-align: center;
}

.green_rectangle{
    width: 155px;
height: 52px;
background-color: #AFED00;
position: relative;
z-index: -1;
left: 670px;
top: -115px;
}


.function{
    width: 93px;
    height: 34px;
    margin-top: 57px;
    margin-right: 120.36px;
    display: flex;
    justify-content: space-between;

}

.catalog{
    width: 1452px;
height: auto;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap:63px ;
}

.sneakers{
    width: 442px;
height: 442px;
margin-top: 25px;
}

.action{
    width: 442px;
height: 73px;
display: flex;
justify-content: space-between;
}

.add_to_cart{
    width: 221px;
height: 73px;
background-color: rgb(69, 66, 66);
font-family: "Roboto Condensed", sans-serif;
font-weight: 700;
font-size: 19px;
color: white;
border: none;

}

.price{
    width: 225px;
height: 73px;
background-color: #AFED00;
}

.price_text{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-align: center;
}

.sneaker_img{
    width: 450px;
height: 375px;
}

.footer{
    width: 1920px;
height: 539px;
background-color: #000;
}


.footer_content{
width: 1331px;
height: 250px;
display: flex;
justify-content: space-between;
gap: 138px;
margin: auto;

}

.footer_container{
    width: 183px;
    height: 250px;
    margin-top: 79px ;

}


.footer_main_text{
    font-family:"Roboto", sans-serif ;
font-weight: 700;
font-size: 22px;
line-height: 250%;
text-transform: uppercase;
color: white;
white-space: nowrap;
}

.payment_img_container{
    width: 90px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5.38px ;
}

.footer_secondary_text{
    font-family: "Roboto", sans-serif ;
font-weight: 400;
font-size: 20px;
line-height: 200%;
color: #7d7d7d;
white-space: nowrap;
}

hr{
    stroke-width: 1.48px;
stroke:white;
margin-top: 200px;
}

.end_content{
    padding-left: 250px;
}



body{
    background-color: #000;
}


.sneaker_name{
    font-family:"Roboto Condensed", sans-serif ;
    font-weight: 700;
font-size: 20px;
color: white;
}

.sneaker_model{
    font-family:"Roboto Condensed", sans-serif ;
    font-weight: 700;
font-size: 15px;
color: white;
}